# From https://github.com/productdevbook/oku-nuxt3-template/blob/0ca0cbf9712b2aeb8195637d102a01239451d6ed/.eslintignore
dist
node_modules
.output
.nuxt
.storybook
storybook-static
.github
coverage
*.log
nuxt.d.ts
.output
.DS_Store
.vscode
.md
package.json
package-lock.json
babel.config.js
graphql
types.ts
generated
components.d.ts
icons.d.ts
auto.d.ts
src-tauri
auto-imports.d.ts
components.d.ts
.husky
.eslintrc.cjs